@charset "UTF-8";

html, body,
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 60px;
    background-color: #f00;
    margin: 5px;
    flex: 1;
}

.red {
    order: 1;
}

.green {
    background-color: #0f0;
    order: 2;
}

.blue {
    background-color: #00f;
    order: 3;
}